@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  .btn-delate {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 mx-2 rounded;
  }

  .btn-disabled {
    @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-3 mx-2 rounded;
  }

}

.bg-Glass {
  background: rgba(255, 255, 255, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.09);
}